{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ? - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mot de passe oublié ?</h1>
    <p>Afin de pouvoir réinitialiser votre mot de passe, veuillez saisir votre adresse email dans le champs ci-dessous. Un mail vous sera envoyé contenant un lien de récupération.</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}