{% extends 'base.html.twig' %}

{% block title %}S'inscrire - {{ parent() }}{% endblock %}

{% block body %}
    <div style="width:600px;" class="ml-auto mr-auto">
        <h1>S'inscrire</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <p align="center"><button class="btn btn-success pl-5 pr-5"><i class="fas fa-unlock"></i> &nbsp;S'inscrire</button></p>
        {{ form_end(form) }}
    </div>
{% endblock %}