{% extends 'base.html.twig' %}

{% block title %}Nouveau sujet - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nouveau sujet</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-secondary"><i class="fas fa-plus"></i> Créer</button>
    {{ form_end(form) }}
{% endblock %}