<h1>Réinitialisation de mot de passe</h1>
<p>Bonjour <strong>{{ user.username }}</strong>, afin de réinitialiser votre mot de passe veuillez cliquer sur le lien ci-dessous. Attention, si vous n'avez pas effectué cette demande, veuillez ignorer cet email.</p>
<a href="{{ url('security.resetPassword', {token: user.resetPasswordToken}) }}">Réinitialiser mon mot de passe</a>

<br>
<br>
<p>L'équipe SForum.</p>