{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    {% for category in categories %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ category.name }}</th>
            </tr>
            </thead>
            <tbody>
                {% for subcategory in category.subcategories %}
                    <tr>
                        <td><a href="{{ path('forum.subcategory', {slug: subcategory.slug, id: subcategory.id}) }}">{{ subcategory.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucune sous-catégorie trouvée...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune catégorie n'a été trouvée...</p>
    {% endfor %}
{% endblock %}